body {
  overflow: hidden;
}

.contenedor-total {
    height: 24900px; /* Ajusta la altura según necesidades */
    /* overflow: hidden; Oculta las barras de desplazamiento */
  }

.scroll-container {
  height: 100%;
  animation: scrollAnimation 350s linear infinite; /* Ajusta la duración y el tipo de animación según necesidades */
  display: flex;
  justify-content: center;
}

@keyframes scrollAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}