body {
  overflow: hidden;
}

.GroupA {
  margin: 0;
  padding: 12px 30px;
  color: white;
  font-family: 'BryantPro';
  font-size: 25px;
}

.contenedor-total {
    height: 25450px; /* Ajusta la altura según necesidades */
    /* overflow: hidden; Oculta las barras de desplazamiento */
}

.contenedor-total-finalists {
  height: 12250px;
}

.scroll-container {
  height: 100%;
  animation: scrollAnimation 330s linear infinite; /* Ajusta la duración y el tipo de animación según necesidades */
  display: flex;
  justify-content: center;
}


.scroll-container-finalists {
  height: 100%;
  animation: scrollAnimation 175s linear infinite; /* Ajusta la duración y el tipo de animación según necesidades */
  display: flex;
  justify-content: center;
}

@keyframes scrollAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}

@media screen and (max-width: 600px) {
  .contenedor-total {
    height: 23000px;
  }
  .contenedor-total-finalists {
    height: 10650px;
  }
}