.layout {
    background-image: url('../assets/images/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* Otros estilos si es necesario */
    position: relative;
  }
  
.img-container {
    position: relative;  /* Permite posicionar elementos internos */
}

.img-container img {
    position: absolute;
    top: 190px;
    left: -118px;
    width: 400px;
}


.text-container{
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
}
.small-text {
    font-family: 'BryantProLight';
    font-size: 16px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    

}

@media screen and (max-width: 600px) {
    .small-text {
        font-size: 9px;
    }
}