.layout {
    background-image: url('../assets/images/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* Otros estilos si es necesario */
  }
  
.img-container {
    position: relative;  /* Permite posicionar elementos internos */
}

.img-container img {
    position: absolute;
    top: 190px;
    left: -118px;
    width: 400px;
}